<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bullet-cruise-burst-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,137},{35,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,39}}</string>
			<key>sourceSize</key>
			<string>{35,39}</string>
		</dict>
		<key>bullet-cruise-burst-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,174},{35,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>sourceSize</key>
			<string>{35,38}</string>
		</dict>
		<key>bullet-cruise-burst-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,211},{34,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,38}}</string>
			<key>sourceSize</key>
			<string>{34,38}</string>
		</dict>
		<key>bullet-cruise-fire-0-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,131},{32,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,82}}</string>
			<key>sourceSize</key>
			<string>{32,82}</string>
		</dict>
		<key>bullet-cruise-fire-0-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,165},{29,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,82}}</string>
			<key>sourceSize</key>
			<string>{29,82}</string>
		</dict>
		<key>bullet-cruise-fire-1-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{32,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,98}}</string>
			<key>sourceSize</key>
			<string>{32,98}</string>
		</dict>
		<key>bullet-cruise-fire-1-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,69},{30,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,98}}</string>
			<key>sourceSize</key>
			<string>{30,98}</string>
		</dict>
		<key>bullet-cruise-fire-2-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,36},{31,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,98}}</string>
			<key>sourceSize</key>
			<string>{31,98}</string>
		</dict>
		<key>bullet-cruise-fire-2-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,101},{28,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,98}}</string>
			<key>sourceSize</key>
			<string>{28,98}</string>
		</dict>
		<key>bullet-cruise-missile-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,196},{18,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,52}}</string>
			<key>sourceSize</key>
			<string>{18,52}</string>
		</dict>
		<key>bullet-cruise-missile-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,76},{20,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,59}}</string>
			<key>sourceSize</key>
			<string>{20,59}</string>
		</dict>
		<key>bullet-cruise-missile-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,2},{22,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,72}}</string>
			<key>sourceSize</key>
			<string>{22,72}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>bullet-cruise.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:022effa901a98426fe1beb1392d3d8b2:1/1$</string>
		<key>textureFileName</key>
		<string>bullet-cruise.png</string>
	</dict>
</dict>
</plist>
