<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet-striker-s4-0-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{41,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,121}}</string>
                <key>sourceSize</key>
                <string>{41,121}</string>
            </dict>
            <key>bullet-striker-s4-0-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{41,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,121}}</string>
                <key>sourceSize</key>
                <string>{41,121}</string>
            </dict>
            <key>bullet-striker-s4-1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{64,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,145}}</string>
                <key>sourceSize</key>
                <string>{64,145}</string>
            </dict>
            <key>bullet-striker-s4-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,174},{64,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,145}}</string>
                <key>sourceSize</key>
                <string>{64,145}</string>
            </dict>
            <key>bullet-striker-s4-2-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{62,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,152}}</string>
                <key>sourceSize</key>
                <string>{62,152}</string>
            </dict>
            <key>bullet-striker-s4-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{62,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,152}}</string>
                <key>sourceSize</key>
                <string>{62,152}</string>
            </dict>
            <key>bullet-striker-s4-3-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{67,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,170}}</string>
                <key>sourceSize</key>
                <string>{67,170}</string>
            </dict>
            <key>bullet-striker-s4-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,170}}</string>
                <key>sourceSize</key>
                <string>{67,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet-striker-s4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d208093c77a1b5a1e063d8f4b8a78473:1/1$</string>
            <key>textureFileName</key>
            <string>bullet-striker-s4.png</string>
        </dict>
    </dict>
</plist>
