<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>striker-s2-fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{77,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,113}}</string>
                <key>sourceSize</key>
                <string>{77,113}</string>
            </dict>
            <key>striker-s2-firehole.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,54},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>striker-s2-part-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,221},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>striker-s2-part-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,196},{30,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,73}}</string>
                <key>sourceSize</key>
                <string>{30,73}</string>
            </dict>
            <key>striker-s2-part-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,196},{23,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,54}}</string>
                <key>sourceSize</key>
                <string>{23,54}</string>
            </dict>
            <key>striker-s2-part-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,66},{11,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,37}}</string>
                <key>sourceSize</key>
                <string>{11,37}</string>
            </dict>
            <key>striker-s2-part-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{21,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{21,50}}</string>
                <key>sourceSize</key>
                <string>{21,52}</string>
            </dict>
            <key>striker-s2-plane-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,113}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>striker-s2-plane-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{98,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,113}}</string>
                <key>sourceSize</key>
                <string>{98,113}</string>
            </dict>
            <key>striker-s2-plane-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,102},{92,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,113}}</string>
                <key>sourceSize</key>
                <string>{92,113}</string>
            </dict>
            <key>striker-s2-plane-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{84,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,113}}</string>
                <key>sourceSize</key>
                <string>{84,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>striker-s2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb63d9d4a305168c0ef14f6e17fd7043:1/1$</string>
            <key>textureFileName</key>
            <string>striker-s2.png</string>
        </dict>
    </dict>
</plist>
